@font-face {
    font-family: '6Taaze';
    src: url('6Taaze-Regular.eot'); /* IE9 Compat Modes */
    src: url('6Taaze-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('6Taaze-Regular.woff') format('woff'), /* Modern Browsers */
         url('6Taaze-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('6Taaze-Regular.svg#6Taaze-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
